/* Centering everything on the screen */
body {
    background-color:#c1e9a8 ; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
    
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(255, 182, 193, 0.4); 
    
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#game-screen {
    text-align: center;
    background: #fdf0d5; 
    padding: 100px;
    border: 8px solid #5e503f; 
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}


/* The Speech Bubble */
.speech-bubble {
    background: white;
    border: 3px solid #000;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
}

/* The Frog (Let's make him big!) */
#frog-sprite {
    width: 150px; 
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), filter 0.3s;
}

.jump {
    transform: translateY(-40px) scale(1.05); 
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.2)); 
}


button {
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px #c9184a;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 1px #c9184a;
}
#frog-text {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.5rem;     
    font-weight: 600;       
    color: #5e503f;        
    letter-spacing: 1px;   
    text-shadow: 2px 2px 0px rgba(0,0,0,0.05);
}
.kiss-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    z-index: 1000;
    pointer-events: none;
    animation: popIn 2s ease-in-out forwards;
}

@keyframes popIn {
    0% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
    10% { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
    15% { transform: translate(-50%, -50%) scale(1); }
    80% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
}
.kiss-button {
    position: fixed;   
    bottom: 20px;      
    left: 20px;        
    z-index: 100;      
}
.mwah-text {
    font-family: 'Fredoka', sans-serif;
    font-size: 5rem;
    color: #ff4d6d;
    margin-bottom: 10px;
}
.pink-background{
    background-color: #ffb3c1;
}


#surprise-kiss {
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: 0 3px #fb6f92;
}